<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config />
	
	<bean id="users" class="com.weibo.api.users.controller.Users"/>
	
	<bean id="usersDao" class="com.weibo.api.users.dao.UsersDaoImpl" init-method="init"/>
	
	<bean id="usersCache" class="cn.sina.api.commons.cache.driver.VikaCacheClient" init-method="init">
		<property name="serverPort" value="10.75.0.118:11211" />
	</bean>
</beans>